
@{
    ViewBag.Title = "Failed payment";
}





<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h2> Error occured, please try again. </h2>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
