@model InsuranceClaim.Models.SummaryDetailModel
@{
    ViewBag.Title = "Failed payment";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h2> Payment has not made successfully, please <a href="/Paypal/Panow/@Model.Id">click here</a>  for try again. </h2>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
