
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">



<body>
    <div style="margin:0 auto; font-family:arial; width:900px">
        <table width="565" border="0" cellspacing="0" cellpadding="5" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#000" colspan="3" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;  word-break: break-all;"><font size="3">POLICY SCHEDULE/SUMMARY OF YOUR COVER</font></td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;  word-break: break-all;"></td></tr>

            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;  word-break: break-all;"></td></tr>

            <tr>
                <td style="padding: 0 5px;  word-break: break-all;"> <img width="250" src="##paht##" style="width:290px;" /></td>
                <td></td>
                <td style="text-align:right; padding:0 10px; font-size:15px;  word-break: break-all;">
                    <font size="2"> #AgentFirstName#  #AgentLastName#<br /> #AgentAddress1#<br /><span height="50"> #AgentCity#</span></font>
                    <p style="margin:15px 0 3px; font-size:14px; color:#444;"><font size="2"> CONTACT</font></p>
              
                    <p style="margin:0 0 3px; font-size:14px; color:#444;"><font size="2">Call us on : + #AgentPhone# </font></p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;"><font size="2">Whatsapp us on : + #AgentWhatsapp#  </font></p>
                    <p style="margin:0 0 3px; font-size:14px; color:#000;"><font size="2"><strong>Email us on: #AgentEmail#  </strong></font></p>
                </td>
            </tr>

            <tr>
                <td style="height:20px;"></td>
                <td style="height:20px;"></td>
                <td style="height:20px;border-right:1px solid #000;"></td>
            </tr>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#000" colspan="2" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;  word-break: break-all;"><font size="3">YOUR PERSONAL DETAILS</font></td>
            </tr>

            <tr>
                <td width="280" valign="top" style="width:50%; padding:10px; vertical-align:top;  word-break: break-all;">
                    <table border="1" cellspacing="0" cellpadding="3" style="border-collapse:collapse; width:100%;">
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Policy Number: </font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##PolicyNo##</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Policy Holder Name :</font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##FirstName## ##LastName##</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Cell number:</font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##Cellnumber##</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Alternative Contact Number</font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2"></font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Email Address </font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##Email##</font></td>
                        </tr>

                    </table>
                </td>
                <td width="280" valign="top" style="width:50%; padding:10px; vertical-align:top;  word-break: break-all;">
                    <table border="1" cellspacing="0" cellpadding="3" style="border-collapse:collapse; border: 1px solid #000;  width:100%;">
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Postal Address </font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##PostalAddress##</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Date of Birth </font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##BirthDate##</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Your Package:</font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">Motor Package</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">Physical Address </font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##Address1## ##Address2##</font></td>
                        </tr>
                        <tr>
                            <td width="100" style="padding:7px 10px; font-size:15px;  word-break: break-all; width:50%;"><font size="2">ID Number </font></td>
                            <td width="100" style="padding:7px 10px; font-size:14px;  word-break: break-all; width:50%;"><font size="2">##NINumber##</font></td>
                        </tr>
                    </table>
                </td>
            </tr>



        </table>


        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#000" colspan="9" style="background:#000; color: white;text-align: center; padding:10px; font-size:16px;"><font size="3">SUMMARY OF YOUR COVER</font></td>
            </tr>
            <tr>
                <td style="padding:7px 10px; font-size:14px;">VRN</td>
                <td style="padding:7px 10px; font-size:14px;">Vehicle description</td>
                <td style="padding:7px 10px; font-size:14px;">Cover note</td>
                <td style="padding:7px 10px; font-size:14px;">Sum insured</td>
                <td style="padding:7px 10px; font-size:14px;">Cover type</td>
                <td style="padding:7px 10px; font-size:14px; width:150px;">Vehicle usage</td>
                <td style="padding:7px 10px; font-size:14px;">Policy Period</td>
                <td style="padding:7px 10px; font-size:14px;">Payment Term</td>
                <td style="padding:7px 10px; font-size:14px;">Premium</td>
            </tr>

            <tfoot>
                ##Summeryofcover##
            </tfoot>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#000" colspan="2" style="font-size:16px; background: #000; color:#fff; text-align:center; padding:10px;"><font size="3">EXTENSIONS & OPTIONAL COVERS</font></td>
            </tr>
            <tr>
                <td style="width:50%;  padding:7px 10px; font-size:15px;"><font size="2">Passenger Accident Cover</font></td>
                <td style="width:50%; padding:7px 10px; font-size:14px; "><font size="2">##currencyName##  ##PassengerAccidentCover##</font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;"><font size="2">Excess Buy Back</font></td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"><font size="2">##currencyName## ##ExcessBuyBackAmount##</font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;"><font size="2">Roadside Assistance</font></td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"><font size="2"> ##currencyName## ##RoadsideAssistance##</font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;"><font size="2">Medical Expenses</font></td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"><font size="2"> ##currencyName##  ##MedicalExpenses##    </font></td>
            </tr>

            <tr>
                <td style="width:50%; padding:7px 10px; font-size:15px;"><font size="2">Excess Amount</font></td>
                <td style="width:50%; padding:7px 10px; font-size:14px;"><font size="2">##currencyName## ##ExcessAmount##</font></td>
            </tr>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <th bgcolor="#000" colspan="2" style="background:#000;color: white;text-align: center; padding:10px; font-size:16px; font-weight:normal; overflow-wrap: break-word;  word-break: break-all;"><font size="3">PREMIUM SUMMARY</font></th>
            </tr>
            <tr></tr>
            <tr>
                <th bgcolor="#000" width="280" style="width:50%; background:#000; color:#fff; text-align: left; padding:7px 10px; font-weight:normal; overflow-wrap: break-word; word-break: break-all;">Policy Term</th>
                <th bgcolor="#000" width="280" style="background:#000; color:#fff; text-align: center; padding:7px 10px;border-right:1px solid #000;  font-weight:normal; overflow-wrap: break-word; word-break: break-all;">##PaymentTerm##</th>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">Basic Premium</font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##    ##PremiumDue##</font></td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; word-break: break-all;"><font size="2">Stamp Duty</font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##  ##StampDuty##</font></td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">ZTSC Levy</font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##  ##MotorLevy##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">Radio Licence Cost </font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##  ##RadioLicence##</font></td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">Discount </font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##  ##Discount##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">Vehicle Licence Fee(ZINARA) </font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##   ##VehicleLicenceFee##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">Total Amount Due</font></td>
                <td width="280" style="width:50%; padding:7px 10px; border-right:1px solid #000;border-left:1px solid #000; font-size:14px; overflow-wrap: break-word; word-break: break-all;"><font size="2">##currencyName##     ##TotalPremiumDue##</font></td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:7px 10px; font-size:15px; overflow-wrap: break-word; word-break: break-all;"><font size="2">QR Image</font></td>
                <td align="right" style="padding: 0 5px;  word-break: break-all; text-align:left"> <img src="##QRpath##" /></td>

            </tr>

        </table>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td align="left" colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;text-align:left"><font size="2">Thank you.</font></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding:0px 0 10px; color:#444; font-size:14px; text-align :left;"><font size="2">Yours Sincerely</font></td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:15px 0 10px; color:#444; font-size:14px;"> <img width="50" src="##paht##/Images/Geneinsuresign.png" /></td>
                </tr>
                <tr>
                    <td align="left" colspan="2" style="padding:7px 0 10px; color:#444; font-size:14px; text-align:left;"><font size="2">GENERAL MANAGER – SALES</font></td>
                </tr>

            </tbody>

        </table>
    </div>
</body>
</html>


