
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<div width="565" style="margin:0 auto; width:900px; font-family:arial;">
    <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%">
        <thead>
            <tr>
                <th width="200" style="width:50%; text-align:left;">
                    <img width="200" src="##path##" style="width:290px;" />
                </th>
                <th style="width:50%; text-align:right">
                    <div style="float:right">
                        <p style="font-size:12px; margin:0 0 3px 0;"><font size="2">#AgentFirstName#  #AgentLastName#</font></p>
                        <p style="font-size:12px; margin:0 0 3px 0;"><font size="2">#AgentAddress1#</font></p>
                        <p style="font-size:12px; margin:0 0 3px 0;"><font size="2">#AgentCity#</font></p>
                      
                    </div>
                </th>
            </tr>
        </thead>
    </table>
    <br style="display:none;" />
    <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:50px 0 0; width:100%;">
        <tbody>
            <tr>
                <td height="50" colspan="2" style="font-size:14px;"><font size="2">#TodayDate#</font></td>
            </tr>
            <tr>
              
                <td align="right" style="width:100%; text-align:right">
                    <p style="margin:0 0 3px; font-size:14px; color:#444;"><font size="2">CONTACT</font></p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;"><font size="2">Call us on : + #AgentPhone# </font></p>
                    <p style="margin:0 0 3px; font-size:14px; color:#444;"><font size="2">Whatsapp us on : + #AgentWhatsapp#  </font></p>
                    <p style="margin:0 0 3px; font-size:14px; color:#000;"><font size="2"><strong>Email us on: #AgentEmail#  </strong></font></p>
                </td>
            </tr>

        </tbody>
    </table>
    <br style="display:none;" />
    <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:10px 0 0; width:100%;">
        <tbody>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;"><font size="2">Dear #FirstName#</font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#000; font-size:15px;"><font size="3"><strong>WELCOME: YOUR POLICY NUMBER IS  #PolicyNumber#</strong></font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;"><font size="2">Welcome to the GENE-INSURE family, we would like to simplify your life.</font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:20px 0 10px; color:#444; font-size:14px;">
                    <font size="2">
                        At GENE-INSURE, we promise to give you insurance that works, this promise is to our clients and even to our third parties.

                        <div>
                            <ul style="list-style:none;">
                                <li style="margin:0 0 10px"><span>a.</span> your policy book (with your terms and conditions, please take time to read your policy and ask us were you need any clarity)</li>
                                <li style="margin:0 0 10px"><span>b.</span> your policy schedule (this shows the details of what you have insured with us, including any amounts insured and key highlights)</li>
                                <li><span>c.</span> we always strive to award our clients, please refer to your schedule for details of your awards and benefits back to you (because we care).</li>
                            </ul>
                        </div>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
    <br style="display:none;">
    <table width="565" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:10px 0 0; width:100%;">
        <tbody>
            <tr>
                <td colspan="2" style="padding:0 0 10px; color:#444; font-size:14px;"><font size="2">Your Username :#Email#</font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0 0 10px; color:#444; font-size:14px;"><font size="2">Your Password :Geninsure@123</font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0 0 10px; color:#444; font-size:14px;"><font size="2">Please reset your password by clicking:<a href="#change#">here</a></font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0 0 10px; color:#444; font-size:14px;"><font size="2">Thank you once again.</font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0 0 10px; color:#444; font-size:14px;"><font size="2">Yours Sincerely</font></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:15px 0 10px; color:#444; font-size:14px;"> <img width="50" src="##path##/Images/Geneinsuresign.png" /></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0px 0 10px; color:#444; font-size:14px;"><font size="2">GENERAL MANAGER – SALES</font></td>
            </tr>
        </tbody>
    </table>

</div>

<body>
</body>
</html>
