<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <div style="margin:0 auto; font-family:arial; width:900px">
        <table width="565" border="0" cellspacing="0" cellpadding="5" style="border-collapse:collapse; border: 1px solid #000; width:900px">
            <tr>
                <td bgcolor="#000" colspan="3" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;"><font size="3">FACULTIVE REINSURANCE SUMMARY</font></td>
            </tr>
            <tr><td style="height:20px;"></td><td style="height:20px;"></td><td style="height:20px;border-right:1px solid #000;"></td></tr>
           
            <tr>
                <td height="30" bgcolor="#fff" style="height:20px;"></td>
                <td height="30" bgcolor="#fff" style="height:20px;"></td>
                <td height="30" bgcolor="#fff" style="height:20px;border-right:1px solid #000;"></td>
            </tr>

            <tr>
                <th style="width:50%; text-align:left;">
                    <img width="250" src="##path##/Images/geneinsure-logo1.png" style="width:290px" />
                </th>
                <td></td>
                <td style="text-align:right; padding:0 10px; font-size:14px"><font size="2"> Genetic Financial Services <br /> ZB Centre<br />4th Floor South Wing<br />cnr First Street & Kwame Nkrumah Avenue<br />Harare</font></td>
            </tr>

            <tr>
                <td height="30" bgcolor="#fff" style="height:20px;"></td>
                <td height="30" bgcolor="#fff" style="height:20px;"></td>
                <td height="30" bgcolor="#fff" style="height:20px;border-right:1px solid #000;"></td>
            </tr>

        </table>
        <br />
        <table width="565" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse; width:900px;">
            <tr>
                <td bgcolor="#000" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;"><font size="3">DETAILS</font></td>
            </tr>

            <tr>
                <td style="width:50%; padding:10px; vertical-align:top;">
                    <table width="100%" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse">
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;"><font size="2">Policy Number: </font></td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"><font size="2">##PolicyNo##</font></td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;"><font size="2">Customer name :</font></td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"><font size="2">##FirstName## ##LastName## &nbsp;</font></td>
                        </tr>
                        <tr>
                            <td width="50%" style="padding:7px 10px; font-size:15px;"><font size="2">Cell number:</font></td>
                            <td width="50%" style="padding:7px 10px; font-size:14px;"><font size="2">##Cellnumber##</font></td>
                        </tr>
                    </table>
                </td>
            </tr>



        </table>


        <table width="565" border="1" cellspacing="0" cellpadding="5" style="border-collapse:collapse;width:900px;">
            <tr>
                <td bgcolor="#000" colspan="7" style="background: black;color: white;text-align: center; padding:10px; font-size:16px;"><font size="3">SUMMARY OF VEHICLES INSURED</font></td>
            </tr>
            <tr>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Vehicle Make/Model</font></td>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Sum Insured</font></td>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Premium</font></td>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Auto-Facultative Sum Insured</font></td>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Auto-Facultative Premium</font></td>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Facultative Sum Insured </font></td>
                <td style="padding:7px 10px; font-size:14px"><font size="2">Facultative Premium </font></td>
            </tr>
            <tfoot>
                ##SummeryofVehicleInsured##
            </tfoot>

        </table>

        <br style="display:none" />
        <table style="width:100%; border :none">
            <tbody>
                <tr>
                    <td align="left" style="padding:20px 0 10px; color:#444; font-size:14px; text-align:left;"><font size="2">Thank you.</font></td>
                </tr>
                <tr>
                    <td align="left" style="padding:0px 0 10px; color:#444; font-size:14px; text-align: left;"><font size="2">Yours Sincerely</font></td>
                </tr>
                <tr>
                    <td align="left" style="padding:10px 0 10px;  word-break: break-all; text-align:left"> <img width="50" src="##path##/Images/Geneinsuresign.png" /></td>
                </tr>
                <tr>
                    <td align="left" style="padding:0px 0 10px; color:#444; font-size:14px; text-align:left;"><font size="2">GENERAL MANAGER – SALES</font></td>
                </tr>


            </tbody>

        </table>

    </div>
</body>
</html>

