<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<body>
    <div style="margin:0 auto; font-family:arial; width:900px">
        <table  border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#D3D3D3" colspan="2" style="background:#D3D3D3; color:#000;text-align: center; padding:10px; font-size:10px;  word-break: break-all;"><font size="1"><b>POLICY SCHEDULE/SUMMARY OF YOUR COVER </b></font></td>
            </tr>    
            <tr>
                <td style="padding: 0 1px;  word-break: break-all;"> <img width="250" src="https://gene.co.zw/Images/geneinsure-logo1.png"  /></td>            
                <td style="text-align:right; padding:0 10px;  word-break: break-all;">
                    <font size="1"> Genetic Financial Services <br />   ZB Centre 4th Floor South Wing   <br />cnr First Street & Kwame Nkrumah<br /> Harare  </font>
                    <p style="margin:1px 0 3px; color:#444;"><font size="1">GENEINSURE CONTACT</font></p>
                    <p style="margin:0 0 3px;  color:#444;"><font size="1">Call us on : +263 867 722 33 44</font></p>
                    <p style="margin:0 0 3px;  color:#444;"><font size="1">Whatsapp us on : +263 719 884 884 /+263 732 884 884</font></p>
                    <p style="margin:0 0 3px;  color:#000;"><font size="1"><strong>Email us on: service@gene.co.zw</strong></font></p>
                </td>
            </tr>          
        </table>
        


        <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:900px;">
            <tr>
                <td bgcolor="#D3D3D3" colspan="2" style="background:#D3D3D3; color:#000;text-align:left; padding:10px;   word-break: break-all;"><font size="1"> <b>YOUR PERSONAL DETAILS</b></font></td>
            </tr>

            <tr>
                <td width="100" style="padding:1px 10px; "><font size="1">Policy Number </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##PolicyNo##</font></td>
            </tr>

            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Policy Holder Name </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##FirstName## ##LastName##</font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Cell number</font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##Cellnumber##</font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Alternative Contact Number</font></td>
                <td width="100" style="padding:1px 10px;"><font size="1"></font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Email Address </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##Email##</font></td>
            </tr>

            <tr>
                <td width="100" style="padding:1px 10px;   word-break: break-all;"><font size="1">Transaction Date </font></td>
                <td width="100" style="padding:1px 10px;  word-break: break-all;"><font size="1">##TransactionDate##</font></td>
            </tr>

            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Postal Address </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##PostalAddress##</font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Date of Birth </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##BirthDate##</font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Your Package:</font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">Motor Package</font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">Physical Address </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##Address1## ##Address2##</font></td>
            </tr>
            <tr>
                <td width="100" style="padding:1px 10px;"><font size="1">ID Number </font></td>
                <td width="100" style="padding:1px 10px;"><font size="1">##NINumber##</font></td>
            </tr>
        </table>   
        ##Summeryofcover##
         
        <table  border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <td bgcolor="#D3D3D3" colspan="2" style="background:#D3D3D3; color:#000;text-align:left; padding:10px;   word-break: break-all;" ><font size="1"><b>EXTENSIONS & OPTIONAL COVERS</b></font></td>         
            </tr>
            <tr>
                <td style="width:50%;  padding:1px 10px;"><font size="1">Passenger Accident Cover</font></td>
                <td style="width:50%; padding:1px 10px;"><font size="1">##currencyName##  ##PassengerAccidentCover##</font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:1px 10px;"><font size="1">Excess Buy Back</font></td>
                <td style="width:50%; padding:1px 10px;"><font size="1">##currencyName## ##ExcessBuyBackAmount##</font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:1px 10px;"><font size="1">Roadside Assistance</font></td>
                <td style="width:50%; padding:1px 10px;"><font size="1"> ##currencyName## ##RoadsideAssistance##</font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:1px 10px;"><font size="1">Medical Expenses</font></td>
                <td style="width:50%; padding:1px 10px;"><font size="1"> ##currencyName##  ##MedicalExpenses##    </font></td>
            </tr>
            <tr>
                <td style="width:50%; padding:1px 10px;"><font size="1">Excess Amount</font></td>
                <td style="width:50%; padding:1px 10px;"><font size="1">##currencyName## ##ExcessAmount##</font></td>
            </tr>
        </table>

      

       
        <table  border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border: 1px solid #000; width:900px;">
            <tr>
                <th bgcolor="#D3D3D3" colspan="2" style="background:#D3D3D3;color:#000;text-align:left; padding: 5px 0 5px;  font-weight:normal; overflow-wrap: break-word;  word-break: break-all;"><font size="1"><b> PREMIUM SUMMARY </b></font></th>
            </tr>
           
            <tr>
                <td width="280" style="width:50%; padding:1px 10px;  overflow-wrap: break-word; word-break: break-all;"><font size="1">Basic Premium</font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##    ##PremiumDue##</font></td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:1px 10px; font-size:11px; word-break: break-all;"><font size="1">Stamp Duty</font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##  ##StampDuty##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:1px 10px; overflow-wrap: break-word; word-break: break-all;"><font size="1">ZTSC Levy</font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##  ##MotorLevy##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:1px 10px;  overflow-wrap: break-word; word-break: break-all;"><font size="1">Radio Licence Cost </font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##  ##RadioLicence##</font></td>
            </tr>
            <tr>
                <td width="280" style="width:50%; padding:1px 10px;  overflow-wrap: break-word; word-break: break-all;"><font size="1">Discount </font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##  ##Discount##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:1px 10px;  overflow-wrap: break-word; word-break: break-all;"><font size="1">Vehicle Licence Fee(ZINARA) </font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##   ##VehicleLicenceFee##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:1px 10px;  overflow-wrap: break-word; word-break: break-all;"><font size="1">Penalties Fee(ZINARA) </font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##   ##PenaltiesAmt##</font></td>
            </tr>

            <tr>
                <td width="280" style="width:50%; padding:1px 10px;  overflow-wrap: break-word; word-break: break-all;"><font size="1">Total Amount Due</font></td>
                <td width="280" style="width:50%; padding:1px 10px; border-right:1px solid #000;border-left:1px solid #000;  overflow-wrap: break-word; word-break: break-all;"><font size="1">##currencyName##     ##TotalPremiumDue##</font></td>
            </tr>
            
        </table>

    </div>
</body>
</html>




