<p>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
    <meta name="viewport" content="width=device-width">
</p>
<!-- The above 3 meta tags *must* come first in the head; any other head
content must come *after* these tags -->
<!-- Bootstrap -->
<p>
</p>
<div style="margin: 0 auto; width: 1052px; padding: 20px; box-sizing: border-box;"
data-mce-style="margin: 0 auto; width: 980px; padding: 20px; box-sizing: border-box;">
    <table cellpadding="3" cellspacing="0"  width="100%" style="border-collapse: collapse;"
    class="mce-item-table" data-mce-style="border-collapse: collapse;">
        <thead>
            <tr>
                <th colspan="2" align="left" style="box-sizing: border-box;" data-mce-style="box-sizing: border-box;">
                    <img width="150" src="\Content\images\[logo]">
                </th>
            </tr>
            <tr>
                <th colspan="2" align="right" style="box-sizing: border-box;" data-mce-style="box-sizing: border-box;">
                    <span style="border: 2px solid #000; display: inline-block; padding: 5px 10px; font-size: 16px; margin: 0 0 15px;"
                    data-mce-style="border: 2px solid #000; display: inline-block; padding: 5px 10px; font-size: 16px; margin: 0 0 15px;">EXPLANATION OF BENEFITS</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;" data-mce-style="width: 50%;">
                </td>
                <td style="width: 50%; border: 1px solid #000; background: #eee; padding: 10px;"
                data-mce-style="width: 50%; border: 1px solid #000; background: #eee; padding: 10px;">
                    <table width="100%" cellpadding="3" cellspacing="0" class="mce-item-table" bgcolor="#ddd"
                    data-mce-selected="1">
                        <tbody>
                            <tr>
                                <td width="110" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        CLAIM #:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Claimnumber]
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" width="100" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        PAID DATE:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Date Paid]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="110" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        CLAIM TYPE:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Claim Type]
                                    </font>
                                </td>
                                <td width="100" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                </td>
                            </tr>
                            <tr>
                                <td width="110" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        PAYEE:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Primary Name]
                                    </font>
                                </td>
                                <td width="100" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr border='1' bgcolor='#eee' style="border: 1px solid #000;" data-mce-style="border: 1px solid #000;">
                <td width="50%" style="background: #eee; padding: 10px; vertical-align: top;"
                data-mce-style="background: #eee; padding: 10px; vertical-align: top;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="mce-item-table">
                        <tbody>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        INSURED:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Insured name]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        PATIENT:
                                    </font>
                                    <br>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Insured name]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        DOB:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Dob]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        SEX:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Gender]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        RELATIONSHIP:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Relationship]
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="50%" style="background: #eee; padding: 10px; vertical-align: top;"
                data-mce-style="background: #eee; padding: 10px; vertical-align: top;">
                    <table width="100%" cellpadding="0" cellspacing="0" class="mce-item-table" border="0">
                        <tbody>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        SUBSCRIBER ID:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Member Id]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        GROUP NAME:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Group Name]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        LOCATION:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Address]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        PROVIDER:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Provider name]
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="150" style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        CURRENCY:
                                    </font>
                                </td>
                                <td style="padding: 3px 0; font-size: 14px;" data-mce-style="padding: 3px 0; font-size: 14px;">
                                    <font size="2">
                                        [Currency]
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table cellpadding="3" cellspacing="0" border="1" width="100%" style="border-collapse: collapse; margin-top: 10px;"
    class="mce-item-table" data-mce-style="border-collapse: collapse; margin-top: 10px;"
    data-mce-selected="1">
        <thead>
            <tr>
                <th colspan="10" style="box-sizing: border-box; font-size: 18px; padding: 10px 0;"
                data-mce-style="font-size: 18px; padding: 10px 0;">
                  <font size="3" align="center">  DESCRIPTION OF SERVICES </font>
                </th>
            </tr>
            <tr border="1">
                <th width="150" align="left" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:150px;min-width:150px;max-width:150px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2" > Type of Services </font>
                </th>
                <th width="180" align="left" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:180px;min-width:180px;max-width:180px;"
                data-mce-style=" border: 1px solid #000; padding: 5px;">
                   <font size="2">  Date of Service</font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                  <font size="2">   Charges </font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style=" border: 1px solid #000; padding: 5px;">
                   <font size="2">  Discount </font>
                </th>
                <th width="120" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:120px;min-width:120px;max-width:120px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> Not Covered </font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style=" border: 1px solid #000; padding: 5px;">
                    <font size="2"> Deductible </font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> Copay/OOP </font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style=" border: 1px solid #000; padding: 5px;">
                   <font size="2">  Paid </font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style=" border: 1px solid #000; padding: 5px;">
                    <font size="2"> Reason Code </font>
                </th>
                <th width="80" align="right" bgcolor="#eee" style="box-sizing: border-box; font-size: 14px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style=" border: 1px solid #000; padding: 5px;">
                    <font size="2"> Reason Code 2 </font>
                </th>
            </tr>
        </thead>
    </table>
    [repeater]
    <table cellpadding="3" cellspacing="0" border="1" width="100%" style="border-collapse: collapse; "
    class="mce-item-table tblTbody" data-mce-style="border-collapse: collapse;"
    data-mce-selected="1">
        <tbody>
            <tr>
                <td width="150" align="left" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:150px;min-width:150px;max-width:150px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> [Service Type] </font>
                </td>
                <td width="180" align="left" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:180px;min-width:180px;max-width:180px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                   <font size="2">  [Service Start Date]–[Service End Date]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                     <font size="2">[Charges]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> [Discount]</font>
                </td>
                <td width="120" align="right" bgcolor="#fff" style="box-sizing: border-box; border: 1px solid #000; padding: 5px;width:121px;min-width:120px;max-width:120px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> [Disallow]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                     <font size="2">[Deductible]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                   <font size="2">  [Copay]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> [Amount Paid]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:81px;min-width:81px;max-width:81px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                   <font size="2">  [Rc]</font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:81px;min-width:81px;max-width:81px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"> [Rc2]</font>
                </td>
            </tr>
        </tbody>
    </table>
    [/repeater]
    <table cellpadding="3" cellspacing="0" border="1" width="100%" style="border-collapse: collapse;margin-top: 0;"
    class="mce-item-table" data-mce-style="border-collapse: collapse; ">
        <tfoot>
            <tr>
                <td width="200" align="left" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #fff; padding: 5px;width:230;min-width:230;max-width:230;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                </td>
                <td width="180" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border-right: 1px solid #000;padding: 5px;width: 182px;min-width:180px;max-width:180px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                   <font size="2"> <strong>TOTALS :</strong> </font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                  <font size="2">  <b>[Total Charges]</b></font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 80px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                  <font size="2">  <b>[Total Discount]</b></font>
                </td>
                <td width="120" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 122px;min-width:120px;max-width:120px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                   <font size="2"> <b>[Total Uncovered Amount]</b></font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 81px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                  <font size="2">  <b>[Total Deductible Amount]</b></font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;width: 81px;min-width:80px;max-width:80px;"
                data-mce-style="box-sizing: border-box; border: 1px solid #000; padding: 5px;">
                   <font size="2"> <b>[Total Copay Amount]</b></font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <font size="2"><b>[Total Paid Amount]</b></font>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #fff; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <br>
                </td>
                <td width="80" align="right" bgcolor="#fff" style="box-sizing: border-box; font-size: 13px; border: 1px solid #fff; padding: 5px;width:80px;min-width:80px;max-width:80px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="7" align="right" style="padding: 5px;" data-mce-style="padding: 5px;">
                   <font size="2"> <strong>TOTAL AMOUNT PAID FOR THIS CLAIM :</strong></font>
                </td>
                <td align="right" style="box-sizing: border-box; font-size: 13px; border: 1px solid #000;padding: 5px;"
                data-mce-style="border: 1px solid #000; padding: 5px;">
                   <font size="2"> <b>[Total Paid Amount]</b></font>
                </td>
                <td align="right" style="box-sizing: border-box; font-size: 13px; border-top: 1px solid #000;padding: 5px;width: 82px;"
                data-mce-style="border-top: 1px solid #000; padding: 5px;">
                    <strong></strong>
                </td>
            </tr>
        </tfoot>
    </table>
    <table cellpadding="3" cellspacing="0" border="0" width="100%" style="border-collapse: collapse; margin-top: 20px;"
    class="mce-item-table" data-mce-style="border-collapse: collapse; margin-top: 20px;">
        <tbody>
            <tr>
                <td valign="top" align="left" width="50%" style="padding-right: 5px;"
                data-mce-style="padding-right: 5px;">
                    [SubreportA]
                </td>
                <td valign="top" align="left" width="50%" style="padding-left: 5px;" data-mce-style="padding-left: 5px;">
                    <table cellpadding="0" cellspacing="0" border="1" width="100%" style="border-collapse: collapse; border: 1px solid #000;"
                    class="mce-item-table" data-mce-style="border-collapse: collapse; border: 1px solid #000;"
                    data-mce-selected="1">
                        <thead>
                            <tr>
                                <th width="100" align="left" style="box-sizing:border-box; padding: 5px; border-bottom: 1px solid #000;"
                                data-mce-style="padding: 5px; border-bottom: 1px solid #000;">
                                  <font size="2">  EOB Comments</font>
                                    <br>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 5px; box-sizing:border-box;" data-mce-style="padding: 5px;">
                                   <font size="2">   [EOBComments] </font>
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
</p>