@{
    Layout = "../Shared/_InsuranceMain.cshtml";
    ViewBag.Title = "Email Sent Successfully";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="login-block" style="max-width: 430px;">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
        </div></div>

