
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    bool userLoggedin = ((System.Web.HttpContext.Current.User != null) && (System.Web.HttpContext.Current.User.Identity.IsAuthenticated));

}

<div class="coll-back">
    <a href=""><img src="~/Images/call-me-back.png"></a>
</div>
<div class="home-slider-sectopn">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            @*<li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>*@
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
		<div class="row">
                            <div class="col-sm-5">
							   <div class="insurance-bx-content">
							       <h3>Get the best</h3>
								   <h3><strong>Car Insurance quotes</strong></h3>
								   <h3>for you. </h3>
								   <ul class="list-inline">
								      <li><a href="/CustomerRegistration/Index">Get a quote </a></li>
								   </ul>
							   </div>
                            </div>
                            <div class="col-sm-7 genebanner-img-20">
                                <img class="img-responsive" src="~/Images/genebanner-1.jpg" />
                            </div>
                            </div>
		@*<div>
                <div class="item active">
                    <img src="~/Images/genebanner-1.jpg" />
                </div>
            </div>*@
            

           



            
           


        </div>
       <!--  <div class="click-here bottom-here">
            <a href="">Click Here</a>
        </div> -->
    </div>
</div>



<div class="policy-option-section">
    <div class="container">

        <div class="insurance-text text-center">
            <h4>OUR INSURANCE PRODUCTS</h4>
            <p>Enjoy world-class service and true value for money.</p>

        
        </div>

        <div class="policy-option">
            <ul>

                @if (userLoggedin && User.IsInRole("Staff"))
                {
                    <li><a href="/CustomerRegistration/Index"><img src="~/Images/24hrs-icon.png"><p>Call Center</p></a></li>
                }

                <li><a href="/Account/MyPolicies"><img src="~/Images/loyalty-icon.png"><p>Loyalty Card programme</p></a></li>
                <li><a href=""><img src="~/Images/delivery-icon.png"><p>Free Delivery</p></a></li>
                <li><a href=""><img src="~/Images/road-assist-icon.png"><p>Road Assist</p></a></li>
                <li><a href=""><img src="~/Images/customer-icon.png"><p>Customer Relationship System</p></a></li>
                <li><a href="~/MobileApp/geneinsure_v_1.8.apk"><img src="~/Images/MobileAppIcon.png" style="height:130px" /><p>Download Mobile App Here</p></a></li>
            </ul>
        </div>
    </div>
</div>


@*<div class="top-banner">
        <div class="container">
            <div class="banner-content">
                <h2>Why is car insurance ​needed? </h2>
                <p>Your car needs more than just fuel and maintenance. A car insurance policy is a crucial factor which ensures the flawless upkeep of your precious vehicle. Reliance General car insurance plans are carefully designed to offer enhanced protection at affordable rates</p>
                <button>Know more</button>
            </div>
        </div>
    </div>*@


@*<div class="container">

        <div class="main-content-b">


            <h1>Our Offerings​</h1>

            <h3>Comprehensive Damage Cover</h3>

            <p>
                You may already be aware that Third Party Liability Car Insurance is mandatory by law. Therefore, if you own a car, you are mandated by law to take up a Third Party Liability Cover. However, taking up a car insurance policy that doesn't compensate your own damages seems pointless, doesn't it? A comprehensive damage cover was developed to offer a broad coverage against all possible damages arising from a variety of risks.
            </p>

            <p>
                Our comprehensive car insurance policy offers protection against damages caused to your car by way of risks such as collisions, theft, fire and so on. Additionally, a comprehensive car insurance policy also covers third-party liabilities and offers extensive protection for your car.
            </p>

            <h3>Add-On cov​ers</h3>

            <p>
                When it comes to car insurance, additional coverage is always better. You can enhance your vehicle insurance coverage protection further with our wide-range of add-on covers such as Nil Depreciation, Consumables, Engine Cover & Key Protect Cover.
            </p>


            <div class="claerfix"></div>

            <div class="row ads-sec">
                <div class="col-sm-3 ads">

                    <img src="~/Images/add.png" class="img-responsive">

                </div>

                <div class="col-sm-9">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <p>
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>

                </div>
            </div>

        </div>

    </div>*@

@*<div class="touch">
        <div class="container">
            <div class="text-center get-in-touch">
                <button>Get in Touch</button>
            </div>
        </div>
    </div>*@






