
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    bool userLoggedin = ((System.Web.HttpContext.Current.User != null) && (System.Web.HttpContext.Current.User.Identity.IsAuthenticated));

}
<style>
    

    .ktqDAv {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0px;
        flex: 0 1 auto;
    }

    .hqBAQN {
        box-sizing: border-box;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background-clip: content-box;
        flex: 1 0 auto;
    }

    .btFbEQ {
        position: relative;
    }

    .gKVjGm {
        margin-bottom: 48px;
    }

    .eANdEQ {
        position: relative;
        width: 100%;
    }

    .hsRkzc {
        color: rgb(64, 64, 64);
        text-overflow: ellipsis;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-color: transparent;
        border-image: initial;
        outline: none;
        overflow: hidden;
    }

    .BLCxL {
        display: none;
        z-index: 2;
        white-space: nowrap;
        color: rgb(127, 127, 127);
        max-width: 410px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        overflow: hidden;
        animation: 3s steps(45) 0s 1 normal none running typing;
    }

    .dIAcwh {
        position: absolute;
        max-width: 0px;
        color: rgb(64, 64, 64);
        top: 0px;
        transition: right 0.2s ease 0s;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        background: transparent;
    }

    .insurance-bx-content h3 {
        font-size: 40px;
        margin: 0 0 5px;
        color: #222;
        font-weight: 600;
        font-family: AkzidenzGroteskBE, sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 52px;
        letter-spacing: -1.3px;
        text-align: left;
        color: rgb(255, 255, 255);
    }

    .insurance-bx-content {
        padding: 60px 15px 60px 50px;
        max-width: 715px;
        margin: 0 0 0 auto;
    }

    .searchbar {
        margin-bottom: auto;
        margin-top: 30px;
        height: 60px;
        background-color: #fff;
        border-radius: 100px;
        padding: 10px;
    }

    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }


    .searchbar:hover > .search_input {
        padding: 0 10px;
        width: 450px;
        caret-color: #57c5d4;
        transition: width 0.4s linear;
    }


    .searchbar:hover > .search_icon {
        background: white;
        color: #23527c;
        text-decoration: none;
    }


    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        text-decoration: none;
        background: #9db753;
        text-decoration: none;
    }

        .search_icon a:focus, .search_icon a:hover {
            color: #23527c !important;
            text-decoration: none;
        }

    div#login-row {
        margin: 30px -15px 20px -15px;
    }

        div#login-row .form-group .btn-info {
            color: #fff;
            background-color: #16909d;
            border-color: #16909d;
        }

        div#login-row .form-group input {
            height: 40px;
        }

  

        .home-slider-sectopn .carousel-inner video {
            position: absolute;
            top: 0;
            width: 100%;
        }

    .banner-form {
        text-align: left;
        margin-top: 65px;
        padding-left: 70px;
        margin-bottom: 50px;
    }

        .banner-form form {
            background-color: #fff;
            position: relative;
            border-radius: 30px;
            max-width: 685px;
            display: inline-block;
        }

        .banner-form input,
        .banner-form .dropdown {
            background-position: 20px center;
            background-repeat: no-repeat;
            font-size: 16px;
        }

            .banner-form .dropdown li a {
                line-height: 20px;
            }

        .banner-form .dropdown {
            width: 250px;
            line-height: 45px;
            padding: 0 15px 0 40px;
            text-align: left;
            background-image: url(../images/others/location-bg.png);
            background-position: 10px center;
        }

        .banner-form .dropdown-menu {
            min-width: 100%;
            left: 0px !important;
        }

            .banner-form .dropdown-menu a {
                font-size: 16px;
            }

        .banner-form .dropdown a {
            display: block;
        }

            .banner-form .dropdown a i {
                float: right;
                margin-top: 15px;
            }

        .banner-form .dropdown a {
            font-size: 16px;
            margin: 0;
            color: #000;
            border: none;
            border-radius: 5px 0 0 5px;
            text-transform: capitalize;
            padding: 8px 0px;
        }

        .banner-form input {
            width: 290px;
            padding: 0 45px;
            color: #11414e;
            border: none;
            border-right: 1px solid #cdcdcd;
            border-radius: 30px 0 0 30px;
            background-image: url(../images/others/search-bg.png);
        }

            .banner-form input:focus {
                border-right-color: #cdcdcd;
            }

            .banner-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #11414e;
            }

            .banner-form input::-moz-placeholder { /* Firefox 19+ */
                color: #11414e;
            }

            .banner-form input:-ms-input-placeholder { /* IE 10+ */
                color: #11414e;
            }

            .banner-form input:-moz-placeholder { /* Firefox 18- */
                color: #11414e;
            }

        .banner-form .dropdown a {
            color: #11414e;
        }

        .banner-form .form-control,
        .banner-form button.btn-primary,
        .banner-form .dropdown {
            float: left;
            height: 60px;
            margin-bottom: 0;
            background-color: #fff;
        }

        .banner-form input[type="submit"] {
            font-size: 14px;
            height: 60px;
            color: #fff;
            width: 146px;
            margin-right: -1px;
            padding: 0;
            line-height: 60px;
            background-color: #16909d;
            border: 1px solid #16909d;
            border-radius: 0 30px 30px 0;
            text-transform: uppercase;
            /* padding: 2px 20px; */
        }

        .banner-form button.btn-primary:before {
            display: none;
        }

    .dropdown a:hover {
        color: #008def;
    }

    input.dropdown.tr-change-dropdown:focus {
        outline: none;
    }


    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<div class="home-slider-sectopn">
    @*<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <video loop="" autoplay="" src="https://s3-us-west-2.amazonaws.com/hippo-static/videos/full loop.mp4" muted="" class="style__Video-sc-32t66v-0 jbJiFb"></video>
            <div class="row">
                <div class="col-sm-7 col-md-6 col-lg-5">
                    <div class="insurance-bx-content">
                        <h3>Get the Best Car Insurance</br>quotes for you</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>*@



    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                @*<img src="la.jpg" alt="Los Angeles">*@
                <video loop="" autoplay="" src="https://s3-us-west-2.amazonaws.com/hippo-static/videos/full loop.mp4" muted="" class="style__Video-sc-32t66v-0 jbJiFb"></video>
            </div>

            <div class="item">
                <img src="~/Images/savers-moloko.jpg" />
                @*<video loop="" autoplay="" src="https://s3-us-west-2.amazonaws.com/hippo-static/videos/full loop.mp4" muted="" class="style__Video-sc-32t66v-0 jbJiFb"></video>*@
            </div>
           

            <div class="item">
                @*<img src="ny.jpg" alt="New York">*@
                <video loop="" autoplay="" src="https://s3-us-west-2.amazonaws.com/hippo-static/videos/full loop.mp4" muted="" class="style__Video-sc-32t66v-0 jbJiFb"></video>
            </div>

            <div class="item">
                <img src="~/Images/genebanner-1.jpg" />
                @*<video loop="" autoplay="" src="https://s3-us-west-2.amazonaws.com/hippo-static/videos/full loop.mp4" muted="" class="style__Video-sc-32t66v-0 jbJiFb"></video>*@

               
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


















    <div class="policy-option-section">
        <div class="container">
            <div class="insurance-text text-center">

                <h2>Call Us: 08677223344</h2>

                <h4>Want to Compare Car Insurance Quotes?</h4>
                <p>Use any off these 3 easy methods to get a car Insurance quote.</p>
            </div>

            <div class="insurance-details-bx">
                <div class="row d-flex-bx">
                    <div class="col-xs-12 col-sm-3 text-center col-mb-25px">
                        <div class="compare-bx-content bg-shadow-bx">
                            <a href="javascript:void(0);" onclick="ShowGoogleMap();">
                                <figure>
                                    <svg id="Capa_1" enable-background="new 0 0 512 512" height="75" viewBox="0 0 512 512" width="75" xmlns="http://www.w3.org/2000/svg"><g><g><g><g><g><g><g><circle cx="256" cy="256" fill="#fff" r="256" /></g></g></g></g></g></g><g><path d="m373.255 120.157-75.306 75.306c-4.344 13.416-14.94 24.011-28.356 28.355l-85.773 85.773c19.213 32.087 42.473 80.058 50.701 134.502 1.608 10.64 10.718 18.524 21.478 18.524s19.871-7.884 21.478-18.524c14.92-98.728 79.279-176.195 79.279-176.195 19.783-23.147 31.729-53.193 31.729-86.03.001-22.285-5.509-43.281-15.23-61.711z" fill="#06b26b" /></g><g><path d="m373.255 120.157-75.306 75.306c-4.344 13.416-14.94 24.011-28.356 28.355l-13.473 13.473v225.321c10.707-.059 19.756-7.919 21.358-18.519 14.92-98.728 79.279-176.195 79.279-176.195 19.783-23.147 31.729-53.193 31.729-86.03 0-22.285-5.51-43.281-15.231-61.711z" fill="#0a9154" /></g><g><path d="m256 225.963c-24.353 0-44.095-19.742-44.095-44.094 0-12.092 4.868-23.046 12.75-31.012l-88.198 88.197c5.006 10.446 11.341 20.134 18.785 28.844 0 0 14.375 17.303 31.113 45.976l101.256-101.256-.011-.011c-8.011 8.234-19.204 13.356-31.6 13.356z" fill="#ffce00" /></g><g><path d="m287.6 212.607c-7.985 8.208-19.132 13.32-31.48 13.353v18.149l31.491-31.491z" fill="#fdba12" /></g><g><path d="m313.185 62.326-87.933 87.933.008.008c7.943-7.728 18.783-12.493 30.74-12.493 24.353 0 44.095 19.742 44.095 44.095 0 11.957-4.767 22.795-12.494 30.738l.011.011 87.933-87.932c-13.05-27.231-35.129-49.31-62.36-62.36z" fill="#606aea" /></g><g><path d="m313.185 62.326-57.065 57.065v18.386c24.297.065 43.974 19.779 43.974 44.092 0 11.957-4.767 22.795-12.494 30.738l.011.011 87.933-87.932c-13.049-27.231-35.128-49.31-62.359-62.36z" fill="#4a5bd3" /></g><g><path d="m224.988 150.523c.089-.088.183-.17.272-.257l-.008-.008z" fill="#7584f2" /></g><g><path d="m235.584 142.775 79.514-79.514c-17.791-8.881-37.861-13.879-59.098-13.879-36.366 0-69.305 14.656-93.246 38.378l62.514 62.514c3.049-2.966 6.513-5.508 10.316-7.499z" fill="#4855b7" /></g><g><path d="m256.121 49.384v72.855l58.977-58.977c-17.758-8.866-37.785-13.859-58.977-13.878z" fill="#27488f" /></g><g><path d="m162.754 87.761c-24.229 24.009-39.24 57.303-39.24 94.108 0 21.237 4.997 41.306 13.879 59.098l79.514-79.514c2.18-4.167 5.021-7.928 8.361-11.178z" fill="#ff583e" /></g></g></svg>
                                </figure>
                            </a>
                            <p>Transact on your  Automated Licencing Machine and get your Zinara & Radio License</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 text-center col-mb-25px">
                        <div class="compare-bx-content bg-shadow-bx">
                            @*<h4>Call us now</h4>
                                <p class="margin-bottom-0">and get your obligation free</p>
                                <p>Car Insurance quote.</p>*@

                            <figure>
                                <svg height="75" viewBox="-100 0 700 510" width="75" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="a"><stop offset="0" stop-color="#2af598" /><stop offset="1" stop-color="#009efd" /></linearGradient><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="255.7523048184	" x2="255.7523048184" xlink:href="#a" y1="0" y2="512.0000297334" /><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="257.750272915" x2="257.750272915" xlink:href="#a" y1="141.862828" y2="361.650308" /><path d="m435.921875 74.351562c-48.097656-47.917968-112.082031-74.3242182-180.179687-74.351562-67.945313 0-132.03125 26.382812-180.445313 74.289062-48.5 47.988282-75.234375 111.761719-75.296875 179.339844v.078125.046875c.0078125 40.902344 10.753906 82.164063 31.152344 119.828125l-30.453125 138.417969 140.011719-31.847656c35.460937 17.871094 75.027343 27.292968 114.933593 27.308594h.101563c67.933594 0 132.019531-26.386719 180.441406-74.296876 48.542969-48.027343 75.289062-111.71875 75.320312-179.339843.019532-67.144531-26.820312-130.882813-75.585937-179.472657zm-180.179687 393.148438h-.089844c-35.832032-.015625-71.335938-9.011719-102.667969-26.023438l-6.621094-3.59375-93.101562 21.175782 20.222656-91.90625-3.898437-6.722656c-19.382813-33.425782-29.625-70.324219-29.625-106.71875.074218-117.800782 96.863281-213.75 215.773437-213.75 57.445313.023437 111.421875 22.292968 151.984375 62.699218 41.175781 41.03125 63.84375 94.710938 63.824219 151.152344-.046875 117.828125-96.855469 213.6875-215.800781 213.6875zm0 0" fill="url(#b)" /><path d="m186.152344 141.863281h-11.210938c-3.902344 0-10.238281 1.460938-15.597656 7.292969-5.363281 5.835938-20.476562 19.941406-20.476562 48.628906s20.964843 56.40625 23.886718 60.300782c2.925782 3.890624 40.46875 64.640624 99.929688 88.011718 49.417968 19.421875 59.476562 15.558594 70.199218 14.585938 10.726563-.96875 34.613282-14.101563 39.488282-27.714844s4.875-25.285156 3.414062-27.722656c-1.464844-2.429688-5.367187-3.886719-11.214844-6.800782-5.851562-2.917968-34.523437-17.261718-39.886718-19.210937-5.363282-1.941406-9.261719-2.914063-13.164063 2.925781-3.902343 5.828125-15.390625 19.3125-18.804687 23.203125-3.410156 3.894531-6.824219 4.382813-12.675782 1.464844-5.851562-2.925781-24.5-9.191406-46.847656-29.050781-17.394531-15.457032-29.464844-35.167969-32.878906-41.003906-3.410156-5.832032-.363281-8.988282 2.570312-11.898438 2.628907-2.609375 6.179688-6.179688 9.105469-9.582031 2.921875-3.40625 3.753907-5.835938 5.707031-9.726563 1.949219-3.890625.972657-7.296875-.488281-10.210937-1.464843-2.917969-12.691406-31.75-17.894531-43.28125h.003906c-4.382812-9.710938-8.996094-10.039063-13.164062-10.210938zm0 0" fill="url(#c)" /></svg>
                            </figure>

                            <div style="margin-top:12px;">
                                <p>
                                    Get Insured via Whatsapp Messanger. Send a message and you will be assisted.
                                </p>
                                <br />
                                <a href="" class="ph-no">0719 884 884 /</a>
                                <a href="" class="ph-no">0732 884 884</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 text-center col-mb-25px">
                        <div class="compare-bx-content bg-shadow-bx">
                            @*<h4>Get a quote online</h4>
                                <p>Car Insurance quote.</p>*@

                            <figure>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" width="75" height="75"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="12" y2="488.823"><stop offset="0" stop-color="#00efd1" /><stop offset="1" stop-color="#00acea" /></linearGradient><linearGradient id="b" x1="371.811" x2="371.811" xlink:href="#a" y1="12" y2="488.823" /><path d="m450.462 318.688-34.607-15.695-9.895-15.993a133.217 133.217 0 0 0 62.04-112.5v-65.742a10.152 10.152 0 0 0 -5.459-8.825l-88.863-47.31a10.081 10.081 0 0 0 -9.55.055l-86.128 47.31a9.824 9.824 0 0 0 -5 8.77v66.971a133.1 133.1 0 0 0 11.554 55.271h-72.067a50.062 50.062 0 0 0 -39.652 19.583l-39.28 51.546-66.026 17.981a40.1 40.1 0 0 0 -29.529 38.457v25.247a40.459 40.459 0 0 0 40.2 40.186h4.8a50.329 50.329 0 0 0 96.983 0h147.055a50.329 50.329 0 0 0 96.983 0h9.78a40.459 40.459 0 0 0 40.199-40.186v-28.814a40.112 40.112 0 0 0 -23.538-36.312zm-157.462-204.007 76.338-41.867 78.662 41.946v59.74a113.461 113.461 0 0 1 -69.63 104.456c-.023.009-.128.02-.151.029l-9.574 4.118-7.79-3.481a113.349 113.349 0 0 1 -67.855-103.893zm-161.511 325.871a30.341 30.341 0 1 1 30.342-30.341 30.375 30.375 0 0 1 -30.342 30.341zm244.041 0a30.341 30.341 0 1 1 30.341-30.341 30.376 30.376 0 0 1 -30.341 30.341zm78.47-56.738a20.438 20.438 0 0 1 -20.2 20.186h-8.365a50.327 50.327 0 0 0 -99.812 0h-144.223a50.327 50.327 0 0 0 -99.812 0h-3.388a20.438 20.438 0 0 1 -20.2-20.186v-25.247a20.073 20.073 0 0 1 14.8-19.18l69.215-18.887a10.109 10.109 0 0 0 5.36-3.588l41.351-54.21a29.989 29.989 0 0 1 23.761-11.702h83.352a135.543 135.543 0 0 0 56.77 47.01l11.982 5.191a10.046 10.046 0 0 0 7.96-.01l13.48-5.825c.691-.292 1.365-.611 2.049-.914l12.344 19.709a9.995 9.995 0 0 0 4.337 3.8l37.426 16.94a20.07 20.07 0 0 1 11.813 18.099z" fill="url(#a)" /><path d="m349.024 209.911c.126.133.248.271.379.4s.291.256.439.381.27.238.412.346.317.221.477.329.287.2.435.288c.17.1.346.188.52.278.148.077.293.161.443.23.183.084.373.151.56.224.149.057.295.122.447.173.2.065.4.113.6.165.148.039.293.087.442.12.211.045.426.072.639.1.141.021.281.052.421.067.261.028.522.035.784.043.1 0 .19.015.286.015.284 0 .568-.013.852-.037.052 0 .1-.014.156-.019.229-.024.459-.05.686-.089.093-.016.185-.04.277-.059.186-.037.371-.074.555-.121.112-.03.223-.068.334-.1.162-.048.323-.094.483-.151.124-.044.246-.1.369-.146.143-.058.288-.113.429-.178s.257-.127.385-.192.263-.132.392-.205.256-.156.382-.236.248-.152.369-.236.244-.18.366-.272c.089-.068.182-.129.269-.2l54.375-44.238a10 10 0 1 0 -12.621-15.514l-46.8 38.076-17.007-19.916a10 10 0 1 0 -15.209 12.987l23.347 27.341c.103.122.218.229.327.346z" fill="url(#b)" /></svg>

                            </figure>

                            <div style="margin-top:25px">
                                <!-- <button type="button" onclick="GetQuote();" class="btn btn-success">Get a quote <i class="fa fa-arrow-right"></i></button> -->
                                <button class="learn-more" onclick="RequestQuote();">
                                    <span class="circle" aria-hidden="true"> <span class="icon arrow"></span> </span>
                                    <span class="button-text">Get a quote</span>
                                </button>
                            </div>

                        </div>
                    </div>
					
					<div class="col-xs-12 col-sm-3 text-center col-mb-25px">
                        <div class="compare-bx-content bg-shadow-bx">
                            @*<h4>Get a quote online</h4>
                                <p>Car Insurance quote.</p>*@

                            <figure>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" width="75" height="75"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="12" y2="488.823"><stop offset="0" stop-color="#00efd1" /><stop offset="1" stop-color="#00acea" /></linearGradient><linearGradient id="b" x1="371.811" x2="371.811" xlink:href="#a" y1="12" y2="488.823" /><path d="m450.462 318.688-34.607-15.695-9.895-15.993a133.217 133.217 0 0 0 62.04-112.5v-65.742a10.152 10.152 0 0 0 -5.459-8.825l-88.863-47.31a10.081 10.081 0 0 0 -9.55.055l-86.128 47.31a9.824 9.824 0 0 0 -5 8.77v66.971a133.1 133.1 0 0 0 11.554 55.271h-72.067a50.062 50.062 0 0 0 -39.652 19.583l-39.28 51.546-66.026 17.981a40.1 40.1 0 0 0 -29.529 38.457v25.247a40.459 40.459 0 0 0 40.2 40.186h4.8a50.329 50.329 0 0 0 96.983 0h147.055a50.329 50.329 0 0 0 96.983 0h9.78a40.459 40.459 0 0 0 40.199-40.186v-28.814a40.112 40.112 0 0 0 -23.538-36.312zm-157.462-204.007 76.338-41.867 78.662 41.946v59.74a113.461 113.461 0 0 1 -69.63 104.456c-.023.009-.128.02-.151.029l-9.574 4.118-7.79-3.481a113.349 113.349 0 0 1 -67.855-103.893zm-161.511 325.871a30.341 30.341 0 1 1 30.342-30.341 30.375 30.375 0 0 1 -30.342 30.341zm244.041 0a30.341 30.341 0 1 1 30.341-30.341 30.376 30.376 0 0 1 -30.341 30.341zm78.47-56.738a20.438 20.438 0 0 1 -20.2 20.186h-8.365a50.327 50.327 0 0 0 -99.812 0h-144.223a50.327 50.327 0 0 0 -99.812 0h-3.388a20.438 20.438 0 0 1 -20.2-20.186v-25.247a20.073 20.073 0 0 1 14.8-19.18l69.215-18.887a10.109 10.109 0 0 0 5.36-3.588l41.351-54.21a29.989 29.989 0 0 1 23.761-11.702h83.352a135.543 135.543 0 0 0 56.77 47.01l11.982 5.191a10.046 10.046 0 0 0 7.96-.01l13.48-5.825c.691-.292 1.365-.611 2.049-.914l12.344 19.709a9.995 9.995 0 0 0 4.337 3.8l37.426 16.94a20.07 20.07 0 0 1 11.813 18.099z" fill="url(#a)" /><path d="m349.024 209.911c.126.133.248.271.379.4s.291.256.439.381.27.238.412.346.317.221.477.329.287.2.435.288c.17.1.346.188.52.278.148.077.293.161.443.23.183.084.373.151.56.224.149.057.295.122.447.173.2.065.4.113.6.165.148.039.293.087.442.12.211.045.426.072.639.1.141.021.281.052.421.067.261.028.522.035.784.043.1 0 .19.015.286.015.284 0 .568-.013.852-.037.052 0 .1-.014.156-.019.229-.024.459-.05.686-.089.093-.016.185-.04.277-.059.186-.037.371-.074.555-.121.112-.03.223-.068.334-.1.162-.048.323-.094.483-.151.124-.044.246-.1.369-.146.143-.058.288-.113.429-.178s.257-.127.385-.192.263-.132.392-.205.256-.156.382-.236.248-.152.369-.236.244-.18.366-.272c.089-.068.182-.129.269-.2l54.375-44.238a10 10 0 1 0 -12.621-15.514l-46.8 38.076-17.007-19.916a10 10 0 1 0 -15.209 12.987l23.347 27.341c.103.122.218.229.327.346z" fill="url(#b)" /></svg>

                            </figure>

                            <div style="margin-top:25px">
                                <!-- <button type="button" onclick="GetQuote();" class="btn btn-success">Get a quote <i class="fa fa-arrow-right"></i></button> -->
                                <button class="learn-more" onclick="RequestQuote();">
                                    <span class="circle" aria-hidden="true"> <span class="icon arrow"></span> </span>
                                    <span class="button-text">Get a quote</span>
                                </button>
                            </div>

                        </div>
                    </div>
					
                </div>
            </div>


            @*<div class="policy-option">
                    <ul>

                        @if (userLoggedin && User.IsInRole("Staff"))
                        {
                            <li><a href="/CustomerRegistration/Index"><img src="~/Images/24hrs-icon.png"><p>Call Center</p></a></li>
                        }

                        <li><a href="/Account/MyPolicies"><img src="~/Images/loyalty-icon.png"><p>Loyalty Card programme</p></a></li>
                        <li><a href=""><img src="~/Images/delivery-icon.png"><p>Free Delivery</p></a></li>
                        <li><a href=""><img src="~/Images/road-assist-icon.png"><p>Road Assist</p></a></li>
                        <li><a href=""><img src="~/Images/customer-icon.png"><p>Customer Relationship System</p></a></li>
                        <li><a href="~/MobileApp/geneinsure_v_1.8.apk"><img src="~/Images/MobileAppIcon.png" style="height:130px" /><p>Download Mobile App Here</p></a></li>
                    </ul>
                </div>*@
        </div>
    </div>


    <div class="compare-bx-input-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                    <input type="text" class="form-control" id="txtUserName" placeholder="Name">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                    <input type="text" class="form-control" id="txtUserPhone" placeholder="Phone number">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                    <button class="btn btn-success" onclick="CallBackoUser();" type="button"><i class="fa fa-phone"></i> Call me back</button>
                </div>
            </div>
        </div>
    </div>



    @*<div class="top-banner">
            <div class="container">
                <div class="banner-content">
                    <h2>Why is car insurance ​needed? </h2>
                    <p>Your car needs more than just fuel and maintenance. A car insurance policy is a crucial factor which ensures the flawless upkeep of your precious vehicle. Reliance General car insurance plans are carefully designed to offer enhanced protection at affordable rates</p>
                    <button>Know more</button>
                </div>
            </div>
        </div>*@

    @*<div class="container">
            <div class="main-content-b">
                <h1>Our Offerings​</h1>

                <h3>Comprehensive Damage Cover</h3>

                <p>
                    You may already be aware that Third Party Liability Car Insurance is mandatory by law. Therefore, if you own a car, you are mandated by law to take up a Third Party Liability Cover. However, taking up a car insurance policy that doesn't compensate your own damages seems pointless, doesn't it? A comprehensive damage cover was developed to offer a broad coverage against all possible damages arising from a variety of risks.
                </p>

                <p>
                    Our comprehensive car insurance policy offers protection against damages caused to your car by way of risks such as collisions, theft, fire and so on. Additionally, a comprehensive car insurance policy also covers third-party liabilities and offers extensive protection for your car.
                </p>

                <h3>Add-On cov​ers</h3>
                <p>
                    When it comes to car insurance, additional coverage is always better. You can enhance your vehicle insurance coverage protection further with our wide-range of add-on covers such as Nil Depreciation, Consumables, Engine Cover & Key Protect Cover.
                </p>


                <div class="claerfix"></div>

                <div class="row ads-sec">
                    <div class="col-sm-3 ads">

                        <img src="~/Images/add.png" class="img-responsive">

                    </div>

                    <div class="col-sm-9">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <p>
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>

                    </div>
                </div>

            </div>

        </div>*@

    @*<div class="touch">
            <div class="container">
                <div class="text-center get-in-touch">
                    <button>Get in Touch</button>
                </div>
            </div>
        </div>*@




</div>


<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request for call back</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your request has been sent successfully.</p>
                <p>Will get call back very soon.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modelGoogleMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Google Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8k7mxHV3-Md1VyrQluTgygCpkf2HrY7c&callback=initMap">
</script>

<script src="~/Scripts/googleMap.js"></script>

<script type="text/javascript">
    function GetQuote() {
        toastr.error("Please Enter your Vehicle Registration Number.");
        $("#RegistrationNum").focus();
    }
</script>



