@model InsuranceClaim.Models.CovertypeModel
@{
    ViewBag.Title = "EditCovertype";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}


<div class="body-content-section">


    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>Edit Cover Type</h4>
                        </div>
                        <div class="form-group-input">


                            @using (Html.BeginForm("EditCovertype", "Covertype", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Name, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @name = "Name", @autocomplete = "off", @id = "Name", @placeholder = "Enter Name" })
                                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 next-btn">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-left">
                                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("CoverList","Covertype")'">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-right">
                                                <button type="submit" class="btn">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
