/ tables /
/*table.tablesorter {
 font-family:arial;
 background-color: #CDCDCD;
 margin:10px 0pt 15px;
 font-size: 8pt;
 width: 100%;
 text-align: left;
}*/
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    /*background-color: #e6EEEE;*/
    /*border: 1px solid #FFF;*/
    /*font-size: 8pt;*/
    /*padding: 4px;*/
}

table.tablesorter thead tr .header {
    /*background-image: url(../Images/Sort_both_small.png);*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    background-size: 9px; position:relative;
}
/*table.tablesorter tbody td {
 color: #3D3D3D;
 padding: 4px;
 background-color: #FFF;
 vertical-align: top;
}
table.tablesorter tbody tr.odd td {
 background-color:#F0F0F6;
}*/
/*table.tablesorter thead tr .headerSortUp {
    background-image: url(../Images/asc.gif);
    background-size: 21px;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../Images/desc.gif);
    background-size: 21px;
}*/
/*table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}*/

table.tablesorter thead tr .header:after {
    content: "\f0dc";
    position: absolute;
    right: 0;
    font-family: fontawesome;
}

table.tablesorter thead tr .headerSortUp:after{content:"\f0de"}
table.tablesorter thead tr .headerSortDown:after{content:"\f0dd"}